body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 { color: #38bdf8; }

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
